<div class="container py-5">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/artist">Artisti</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="pb-5">
    <input type="text" (keyup)="search($event)" class="form-control" placeholder="Cerca un artista" />
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let a of artists">
      <div class="card">
        <img src="{{a.images[0] ? a.images[0].url : 'https://i.scdn.co/image/ab6761610000e5ebdd792b67eab4db295050d808'}}" class="card-img-top" alt="{{ a.name }}" />
        <div class="card-body">
          <h5 class="card-title"><a href="javascipt:void(0)" (click)="navigate(a.id)">{{ a.name }}</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
