<div class="container py-5 px-4">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <h2 class="pb-2 pt-4 border-bottom">Ricerca per</h2>
  <div class="row g-4 pt-1 row-cols-1 row-cols-lg-3">
    <div class="col">
      <h2><a routerLink="/track">Brano</a></h2>
      <p>Cerca qualsiasi brano presente su spotify.</p>
    </div>
    <div class="col">
      <h2><a routerLink="/album">Album</a></h2>
      <p>Scopri quali brani sono contenuto negli album!</p>
    </div>
    <div class="col">
      <h2><a routerLink="/artist">Artista</a></h2>
      <p>Trova il tuo artista preferito!</p>
    </div>
  </div>
</div>
